<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row row_issue">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Joey Hilton</h1>
                    <p class="intro-text">Hello! My name is Joey Hilton, and I am a new web developer <br>hungry for learning and experience.</p>
                    <p class="intro-text">
                      I have a diverse set of skills, ranging from design, to HTML + CSS, and  Ruby on Rails.
                    </p>
                    <%= image_tag "joey_pic.png", alt: "Joey"%>
                    <br>
                    <%= link_to (fa_icon "linkedin-square 2x"),  "https://linkedin.com/in/joeyhilton", target: "_blank"%> 
                    <%= link_to (fa_icon "github 2x"), "https://github.com/JoeyHilton", target: "_blank" %>
                    <%= link_to (fa_icon "behance-square 2x"), "https://behance.net/JoeyHilton", target: "_blank" %>
                    <%= link_to (fa_icon "file-pdf-o 2x"), asset_path("joeyhilton_resume_rev5.pdf"), target: "_blank" %>
                    <!-- <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row row_issue">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Me</h2>
            <p>After fifteen years in the graphic design and print production industry, I decided I wanted to do more with my skills. The internet, I realized, seemed to not be going anywhere, so I knew I wanted to learn how to do all that magical "stuff" online.</p>
            <p>I bring to web development my skills of design, including typography, color and layout. I possess expert level skills in tools such as photoshop, illustrator, and indesign.</p>
            <p>I strive to continue to integrate my design background into my newly acquired skillset  of full-stack web development.</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Project Samples</h2>
                <p>Here are just a few of the projects I have worked on since beginning this new web-dev journey. The list is just starting. Stay tuned for more...</p>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                     <!--  <a href="https://joey-rps.herokuapp.com">
                        <img src="/assets/rps.png" alt="Rock Paper Scissors">
                      </a> -->
                      <%= link_to image_tag("firedup.png", :alt => "FiredUp"), "http://www.firedup.io" %>
                    </div>
                    <div class="item">
                      <!-- <a href="https://www.firedup.io">
                      <img src="/assets/firedup.png" alt="FiredUp"> -->
                      <%= link_to image_tag("rps.png"), "https://joey-rps.herokuapp.com" %>
                    </div>
                    <div class="item">
                      <!-- <a href="https://linkfaves.herokuapp.com/">
                      <img src="/assets/linkfaves.png" alt="LinkFaves"> -->
                      <%= link_to image_tag("linkfaves.png"), "https://linkfaves.herokuapp.com" %>
                    </div>
                    <div class="item">
                      <!-- <a href="https://do-stuff.herokuapp.com/">
                      <img src="/assets/dostuff.png" alt="DoStuff!"> -->
                      <%= link_to image_tag("dostuff.png"), "https://do-stuff.herokuapp.com" %>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="contact-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>
            <p>I am available for hire, full time and freelance. <br>Feel free to email me.</p>
            <p><a href="mailto:shnek81@gmail.com" class="email"><i class="fa fa-envelope fa-fw"></i> Drop me a line!</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://linkedin.com/in/joeyhilton" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
                <li>
                    <a href="https://github.com/JoeyHilton" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.behance.net/JoeyHilton" class="btn btn-default btn-lg"><i class="fa fa-behance-square fa-fw"></i> <span class="network-name">Behance</span></a>
                </li>
                <li>
                    <a href="/assets/joeyhilton_resume_rev5-1090209ba21ba4c45317448f5d5acc3f4184a625368e62cf03f8172e29572467.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">My Resume
                     </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>